@model IEnumerable<lab_04.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course">
        @foreach (var course in Model)
            {
                <li>
                    <div class="date">

                        <div class="month">
                            @course.DateTime.ToString("MM")
                        </div>

                        <div class="day">
                            @course.DateTime.ToString("dd")
                        </div>

                        <div class="details">

                            <span class="Lecturer">
                                @course.Lecturer.Name
                            </span>

                            <span class="category">
                                @course.Category.Name
                            </span>
                        </div>
                    </div>
                </li>
            }
    </ul>
</div>